<div class="container bg-info">
  <div class="row">
    <div class="col-3  border border-danger">
      <form (submit)="onSubmit($event)">
        <div class="form-group">
          <div class="bg-dark text-white">{{user.userName}}</div>
          <label for="userName">User Name :</label>
          <input id="userName" [value]="user.userName" (input)="user.userName=$event.target.value" placeholder="User Name" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <div class="bg-dark text-white">{{user.age}}</div>
          <label for="age">Age :</label>
          <input id="age"  placeholder="Age" [(ngModel)]="user.age" type="number" class="form-control">
        </div>
        <button class="btn btn-primary">Add!!!</button>
      </form>
    </div>
  </div>
</div>

