.card, .card-header, .card-body{
    padding:1px;
    font-size: 15px;
}

.card-body:hover{
    background:rgb(226, 226, 226);
}

label,.form-group{
    padding:0px;
    margin:0px;
}
.address{
    margin-top: 5px;
    padding:5px;
}
.card-header{
    background:rgb(196, 196, 196);
    
}

.close{
    padding:2px;
    float:right;
    cursor:pointer;
    font-size: 18px;
}

.close:hover{
    background:red;
    color:white;
    border-radius:50%
}