<div class="container bg-info">
  <div class="row">
    <div class="col-3  border border-danger">
      <form (submit)="onSubmit($event)">
        <div class="form-group">
          <label for="userName">User Name :</label>
          <input id="userName" [value]="user.userName" (input)="user.userName=$event.target.value" placeholder="User Name" type="text" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="age">Age :</label>
          <input id="age" [value]="user.age" placeholder="Age" (input)="user.age=$event.target.value" type="number" class="form-control">
        </div>
        <div  class="form-group cancel-float">
          <div style="float:left" *ngFor="let gender of genders">
              <input type=radio name="gender" (click)="user.gender=$event.target.value" [value]="gender">{{gender}}
          </div>
        </div>
        <div class="form-group border border-danger address">
          <div class="form-group">
              <label for="add1">Address 1 :</label>
              <input id="add1" [value]="user.address.add1" placeholder="Address 1" (input)="user.address.add1=$event.target.value"  class="form-control">    
          </div>
          <div class="form-group">
              <label for="add2">Address 2 :</label>
              <input id="add2" [value]="user.address.add2" placeholder="Address 2" (input)="user.address.add2=$event.target.value"  class="form-control">    
          </div>
          <div class="form-group">
              <label for="add3">Address 3 :</label>
              <input id="add3" [value]="user.address.add3" placeholder="Address 3" (input)="user.address.add3=$event.target.value"  class="form-control">    
          </div>
          <div class="form-group">
              <label for="area">Area :</label>
              <input id="area" [value]="user.address.area" placeholder="Area" (input)="user.address.area=$event.target.value"  class="form-control">    
          </div>
          <div class="form-group">
              <label for="city">City :</label>
              <input id="city" [value]="user.address.city" placeholder="City" (input)="user.address.city=$event.target.value"  class="form-control">    
          </div>
          <div class="form-group">
              <label for="country">Country :</label>
              <select id="country" name="country" ngModel (change)="user.address.country=$event.target.value" class="form-control">
                <option *ngFor="let country of countries;let i=index" [value]="country">{{country}}</option>
              </select>
                  
          </div>          
        </div>
        <button class="btn btn-primary">Add!!!</button>
      </form>
    </div>
    <div class="col-9  border border-danger">
      <div *ngIf="users.length > 0 ; else alternateDiv">
        <h3>List of Users</h3>
        <div class="container">
          <div class="row">
            <div class="card border border-secondary" *ngFor="let user of users,let i=index">
                <div  class="card-header text-uppercase font-weight-bold font-italic" 
                      [ngStyle]="{background: getBorder(user)}"
                      
                >
                    {{user.userName}}  <div class="close" (click)="deleteCard(i)" [ngClass]="{male:user.gender==='Male'}"> X</div>
                </div>
                <div class="card-body">
                  <div>{{user.address.add1}}</div>
                  <div>{{user.address.add2}}</div>
                  <div>{{user.address.add3}}</div>
                  <div>{{user.address.area}}</div>
                  <div>{{user.address.city}}</div>
                  <div>{{user.address.country}}</div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #alternateDiv>
        <div>
          <h3>Please add user to display the card</h3>
        </div>
      </ng-template>
    </div>
  </div>
</div>

