.card, .card-header, .card-body{
    padding:1px;
    font-size: 15px;
}

.card-body:hover{
    background:rgb(226, 226, 226);
}


.address{
    margin-top: 5px;
    padding:5px;
}
.card-header{
    background:rgb(196, 196, 196);
}

.close{
    padding:2px;
    float:right;
    cursor:pointer;
    font-size: 15px;
}

.close:hover{
    background:red;
    color:white;
    border-radius:25%
}

.male:hover{
    background:rgb(92, 92, 211);
}
