<form (submit)="onSubmit($event)" #userForm="ngForm">
    <div *ngIf="userForm.invalid && shouldDisplay" class="text-danger">User forms contains errors</div>
    <div class="form-group required">
      <label for="userName">User Name :</label>
      <div *ngIf="userName.invalid && userName.touched && userName.errors.required" class="text-danger">cannot be empty</div>
      <input id="userName" placeholder="User Name" type="text" name="userName" ngModel #userName="ngModel" class="form-control" required>
    </div>
    <div class="form-group required">
      <label for="age">Age :</label>
      <input id="age" placeholder="age" type="number" name="age" ngModel #age="ngModel" class="form-control" min="18" required >
    </div>
    <div  class="form-group cancel-float">
      <div style="float:left" *ngFor="let gender of genders">
          <input type=radio name="gender" ngModel [value]="gender">{{gender}}
      </div>
    </div>
    <div class="form-group border border-danger address" ngModelGroup="address">
      <div class="form-group required">
          <label for="add1">Address 1 :</label>
          <input id="add1" name="add1" ngModel placeholder="Address 1" class="form-control" required>    
      </div>
      <div class="form-group">
          <label for="add2">Address 2 :</label>
          <input id="add2" name="add2" ngModel placeholder="Address 2" class="form-control">    
      </div>
      <div class="form-group">
          <label for="add3">Address 3 :</label>
          <input id="add3" name="add3" ngModel placeholder="Address 3" class="form-control">    
      </div>
      <div class="form-group">
          <label for="area">Area :</label>
          <input id="area" name="area" ngModel placeholder="Area" class="form-control">    
      </div>
      <div class="form-group required">
          <label for="city">City :</label>
          <input id="city" name="city" ngModel placeholder="City" class="form-control" required>    
      </div>
      <div class="form-group required">
          <label for="country">Country :</label>
          <select id="country" name="country" ngModel class="form-control" required>
            <option *ngFor="let country of countries;let i=index" [value]="country">{{country}}</option>
          </select>
              
      </div>          
    </div>
    <button *ngIf="!isEditMode" class="btn btn-primary">Add!!!</button>
    <button *ngIf="isEditMode" class="btn btn-primary">Update</button>
    <button *ngIf="isEditMode" class="btn btn-primary" type="button" (click)="clear()">Clear</button>
    <button type="button" class="btn btn-danger" (click)="cancelEditMode()">Cancel</button>
  </form>